graph_nets==1.1.0
tensorflow==2.15.0
tensorflow_probability==0.23.0
dm-sonnet==2.0.0
matplotlib>=3.1.0
networkx>=2.3
numpy>=1.16.0
scipy>=1.3.0
absl-py>=0.7.0
six>=1.12.0
decorator>=4.3.0
cloudpickle==2.2.1
gast==0.5.4
setuptools>=41.0.0
future>=0.17.0
pandas>=2.0.0 